@import "tailwindcss";
@import "./styles/colors.css";
@import "./styles/animations.css";

@theme {
  --color-primary-lightest-02: var(--forest-green-lightest-02);
  --color-primary-lightest: var(--forest-green-lightest);
  --color-primary-lighter: var(--forest-green-lighter);
  --color-primary-light: var(--forest-green-light);
  --color-primary: var(--forest-green);
  --color-primary-dark: var(--forest-green-dark);
  --color-primary-darker: var(--forest-green-darker);
  --color-primary-darkest: var(--forest-green-darkest);
  --color-primary-darkest-02: var(--forest-green-darkest-02);

  --color-secondary-lightest-02: var(--rich-gold-lightest-02);
  --color-secondary-lightest: var(--rich-gold-lightest);
  --color-secondary-lighter: var(--rich-gold-lighter);
  --color-secondary-light: var(--rich-gold-light);
  --color-secondary: var(--rich-gold);
  --color-secondary-dark: var(--rich-gold-dark);
  --color-secondary-darker: var(--rich-gold-darker);
  --color-secondary-darkest: var(--rich-gold-darkest);
  --color-secondary-darkest-02: var(--rich-gold-darkest-02);

  --color-ghost-primary-10: var(--forest-green-10);
  --color-ghost-primary-20: var(--forest-green-20);
  --color-ghost-primary-30: var(--forest-green-30);
  --color-ghost-primary-40: var(--forest-green-40);

  --color-ghost-secondary-10: var(--rich-gold-10);
  --color-ghost-secondary-20: var(--rich-gold-20);
  --color-ghost-secondary-30: var(--rich-gold-30);
  --color-ghost-secondary-40: var(--rich-gold-40);

  --color-success-lightest: var(--green-crayola-lightest);
  --color-success-lighter: var(--green-crayola-lighter);
  --color-success-light: var(--green-crayola-light);
  --color-success: var(--green-crayola);
  --color-success-dark: var(--green-crayola-dark);
  --color-success-darker: var(--green-crayola-darker);
  --color-success-darkest: var(--green-crayola-darkest);

  --color-white: var(--white);
  --color-neutral-lightest: var(--philippine-gray-lightest);
  --color-neutral-lighter: var(--philippine-gray-lighter);
  --color-neutral-light: var(--philippine-gray-light);
  --color-neutral: var(--philippine-gray);
  --color-neutral-dark: var(--philippine-gray-dark);
  --color-neutral-darker: var(--philippine-gray-darker);
  --color-neutral-darkest: var(--philippine-gray-darkest);
  --color-black: var(--chinese-black);

  --color-white-10: var(--white-10);
  --color-white-20: var(--white-20);
  --color-white-30: var(--white-30);
  --color-white-40: var(--white-40);

  --drop-shadow-sm:
    0px 1px 1px 0px rgba(0, 0, 0, 0.11), 0px 2px 1px 0px rgba(0, 0, 0, 0.09),
    0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  --drop-shadow-md:
    0px 6px 10px 0px rgba(0, 0, 0, 0.11), 0px 1px 18px 0px rgba(0, 0, 0, 0.09),
    0px 3px 5px 0px rgba(0, 0, 0, 0.16);
  --drop-shadow-lg:
    0px 12px 17px 0px rgba(0, 0, 0, 0.11), 0px 5px 22px 0px rgba(0, 0, 0, 0.09),
    0px 7px 8px 0px rgba(0, 0, 0, 0.16);

  --divider-dark-default: rgba(255, 255, 255, 0.1);
  --divider-light-default: rgba(0, 0, 0, 0.1);

  --theme-primary-gradient: linear-gradient(
    1deg,
    var(--color-primary) 65.19%,
    #2e493a73 135.56%,
    var(--color-white) 155.11%
  );

  --team-gradient:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) -10.74%,
      var(--color-primary-lighter) 602.3%
    ),
    var(--color-primary-darkest);

  --background-primary: var(--color-white);
  --background-secondary: var(--color-neutral-lightest);
  --background-brand: var(--color-primary);
  --background-overlay: var(#00000065);

  --text-primary: var(--color-black);
  --text-secondary: var(--color-neutral);
  --text-tertiary: var(--color-neutral-light);
  --text-primary-dark: var(--color-white);
  --text-brand: var(--color-primary);

  --animate-slide-in-from-right: slide-in-from-right 300ms ease-out forwards;
  --animate-slide-out-to-right: slide-out-to-right 300ms ease-in forwards;
  --animate-slide-in-from-left: slide-in-from-left 300ms ease-out forwards;
  --animate-slide-out-to-left: slide-out-to-left 300ms ease-in forwards;
  --animate-slide-in-from-top: slide-in-from-top 300ms ease-out forwards;
  --animate-slide-out-to-top: slide-out-to-top 300ms ease-in forwards;
  --animate-slide-in-from-bottom: slide-in-from-bottom 300ms ease-out forwards;
  --animate-slide-out-to-bottom: slide-out-to-bottom 300ms ease-in forwards;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-dialog-overlay: fade-in 200ms ease-out;
  --animate-dialog-content: enter 200ms ease-out;
  --animate-dialog-overlay-out: fade-out 200ms ease-in;
  --animate-dialog-content-out: exit 200ms ease-in;
}

@layer base {
  html {
    font-family: var(--font-open-sans);
  }

  .display-1 {
    @apply text-[40px] leading-[44px] lg:text-[64px] lg:leading-[72px] font-bold;
  }
  .display-2 {
    @apply text-[32px] leading-[54px] lg:text-[40px] lg:leading-[44px] font-bold;
  }

  h1,
  .modal-title {
    @apply text-[32px] font-bold leading-[54px];
  }
  h2,
  .tab-links,
  .modal-subtitle {
    @apply lg:text-[24px] text-[18px] font-bold leading-[31px] lg:leading-[41px];
  }
  h3 {
    @apply text-[16px] leading-[27px] lg:text-[18px] font-bold lg:leading-[31px];
  }
  h4 {
    @apply text-[16px] font-bold leading-[27px];
  }
  h5 {
    @apply text-[14px] font-bold leading-[24px];
  }
  h6 {
    @apply text-[12px] font-bold leading-[20px];
  }

  .paragraph-lg {
    @apply text-[18px] font-normal leading-[31px];
  }
  .paragraph-md,
  .modal-description {
    @apply text-[16px] font-normal leading-[27px];
  }
  .paragraph-sm {
    @apply text-[14px] font-normal leading-[24px];
  }
  .paragraph-xs {
    @apply text-[12px] font-normal leading-[20px];
  }

  .label-lg {
    @apply text-[18px] font-bold leading-[31px];
  }
  .label-md {
    @apply text-[16px] font-bold leading-[27px];
  }
  .label-sm {
    @apply text-[14px] font-bold leading-[24px];
  }
  .label-xs {
    @apply text-[12px] font-bold leading-[20px];
  }
}
